%marginheader { margin-bottom: 40px; }

.entry-title {
  font-size: 60px;
  text-align: center;
  color: $dark;
  margin-bottom: 50px;
}

article {
  h2 {
    font-size: 20px;
    @extend %marginheader;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 13px;
    @extend %marginheader;
  }

  p {
    margin-bottom: 40px;
  }
}



%centrare {text-align: center;}