// ------ #STYLE GUIDE
$tiny:                      500px;
$small:						740px;
$lap: 						900px;
$desk: 						1200px;

// ------ #COLORS
$accent:					#68f3c8;
$lightest:     				#f7f7f7;
$borders:   				#afafaf;
$gray:						#45525a;
$dark:                      #0e364f;
$black:						#000000;
$white:                     #ffffff;
$caption:                   #7c868b;

// High-level base settings.
$base-font-size:            13px;
$base-line-height:          24px;
$gutter: 					30px;