.site-header {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #000000;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.50);
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;

  a {
    color: #FFF;
  }
}

.no-thumbnail {
  .site-header {
    background-color: transparent;
    border-bottom: none;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    a {
      border-bottom: none;
      color: $black;
      }
    }
  }

#site-navigation {
  width: 80%;
  float: right;
  text-align: right;

  .menu-toggle {
    display: none;
  }

  .menu {
    li {
      display: inline-block;
      margin-right: 10px;

      &:before {
        content: "";
      }

      a {
        text-decoration: none;
        @extend %gama;
      }
    }
  }
}

.site-branding {
  position: relative;
  float: left;
  width: 20%;
  text-align: left;
  margin-top: 10px;

  .site-title {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    text-align: left;
  }

  a {
    text-decoration: none;
  }
}

.header-content {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;

  .hero__title {
    position: relative;
  }
}
