.site-header {
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  padding: 20px;
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
}

.no-thumbnail {

  .site-header {
    background-color: transparent;
    border-bottom: none;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;

    a {
      border-bottom: none;
      @extend %gama;
      }
  }

  .site-branding {

    .site-title {

      a {
        color: $black;
      }

    }

  }

  #site-navigation {

    .menu {

      a {
        color: $black;
      }

    }

  }

}

#site-navigation {
  width: 80%;
  float: right;
  text-align: right;

  .menu-toggle {
    display: none;
  }

  .menu {
    li {
      display: inline-block;
      margin-right: 10px;

      &:before {
        content: "";
      }

      a {
        color: $lightest;
        text-decoration: none;
        @extend %gama;
        border-bottom-width: 0px;
        border-bottom-color: $accent;
        border-bottom-style: solid;
        &:hover {
          border-bottom-width: 3px;
        }
      }
    }
  }
}

.site-branding {
  position: relative;
  float: left;
  width: 20%;
  text-align: left;
  margin-top: 10px;

  .site-title {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    text-align: left;
  }

  a {
    text-decoration: none;
    border-bottom: 0;
    color: $lightest;
    @extend %gama;
  }
}

.header-content {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;

  .hero__title {
    position: relative;
  }
}
