.site-header {
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  padding: 20px;
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
}

.no-thumbnail {

  .site-header {
    background-color: transparent;
    border-bottom: none;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;

    a {
      border-bottom: none;
      @extend %gama;
      }
  }

  .site-branding {

    @extend %logo-settings;

    .site-title {

      a {
        color: $dark;
      }

    }

  }

  .main-navigation {

    .menu {

      li {
          a {
            color: $dark;
          }
      }

    }

  }

}

.main-navigation {
  width: 80%;
  float: right;
  text-align: right;

  .menu-toggle {
    display: none;
    font-family: 'FontAwesome';
    color: #0E3650;

    @include query-below ($lap) {
      display: block !important;
      float: right !important;
      background-color: transparent;
      border: none;
      font-size: 20px;


      &::after {
        content:"\f0c9";
        width:100%;
        height:100%;
        background-color: transparent;
      }
    }
   &::focus {
     border-color: none !important;

   }
  }

  .menu {
    li {
      display: inline-block;
      margin-right: 10px;

      &:before {
        content: "";
      }

      a {

        @include query-below($lap){
          color: #0E3650;
        }
        color: $lightest;
        text-decoration: none;
        @extend %gama;
        border-bottom-width: 0px;
        border-bottom-color: $accent;
        border-bottom-style: solid;
        &:hover {
          border-bottom-width: 3px;
        }
      }
    }
  }
}

.site-branding {
  position: relative;
  float: left;
  width: 20%;
  text-align: left;
  margin-top: 10px;

  .logo {
    @extend %logo-settings;
  }

  .site-title {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    text-align: left;
  }

  .no-site-title {
    display: none;
  }

  a {
    text-decoration: none;
    border-bottom: 0;
    color: $lightest;
    @extend %gama;
  }
}

.header-content {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;

  .hero__title {
    position: relative;
  }
}

/*------------------------------------*\
    $CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
.cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.nav {
  list-style: none;
  margin-left: 0;
  @extend .cf;

  > li {

    &,
    > a {
      display: inline-block;
      *display: inline;
      zoom: 1;
    }
  }
}

/**
 * `.nav--stacked` extends `.nav` and throws the list into vertical mode, e.g.:
 *
   <ul class="nav  nav--stacked">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
.nav--stacked {

  > li {
    display: list-item;

    > a {
      display: block;
    }
  }
}

/*----------------------------------------*\
    $SUBMENUS
\*----------------------------------------*/

/*ul*/
.sub-menu, .children {
  @extend .nav;
  @extend .nav--stacked;

  @include query-below($lap){
    top:0;
    left:50%;
    padding-left: 10px;
    z-index: 1;
    background-color: #FFF;
    border: 1px solid #0E3650;

  }
  position: absolute;
  top: 100%;
  left: 50%;

  display: none;
  min-width: 200px;

  text-align: center;

  background: transparent;

  transform: translateX(-50%);

  .lt-ie9 & {
    left: 0;
    transform: none;
  }

  .main-navigation & li:before {
    content: none;
  }

  a {
    //padding: $_u2;
  }

  .menu-item-has-children, .page_item_has_children {
    position: relative;

    &:after {
      right: 10px;
      @include query-below($lap){
        color: #0E3650;
        display: block;
        right: 0;
      }
      transform: rotate(-45deg);
    }
  }

  .sub-menu {
    left: 0;
    top: 5%;
    transform: translateX(0);
  }
}

.menu-item-has-children, .page_item_has_children {
  position: relative;

  &:hover:after {
    border-color: $accent;
  }

  &:after {
    content: "";

    position: absolute;
    top: 50%;
    right: -10px;

    margin-top: -2px;
    display: inline-block;

    width: 5px;
    height: 5px;

    border-right: 1px solid $white;
    border-bottom: 1px solid $white;

    transform: translateY(-50%) rotate(45deg);
  }

  &:hover > .sub-menu, &:hover > .children  {
    display: block;
  }
}

  #primary-menu {
    @include query-below($lap) {
      display: none;
    }
  }

  .menu-all-pages-container {

    @include query-below($lap) {
      background-color: #FFFFFF;
      width: 100% !important;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

  }
  #site-navigation {

    &.toggled {

      #primary-menu li {
        display: block;

      }
      #primary-menu {
        display: block;
        padding-top: 45px !important;
        height: 80% !important;
        margin-right: 15px;
        text-align: center;
      }
    }
  }