%shadow {
  box-shadow: inset 5px 21px 100px -9px #000000;
  -webkit-box-shadow: inset 5px 21px 100px -9px #000000;
  -moz-box-shadow: inset 5px 21px 100px -9px #000000;
  -o-box-shadow: inset 5px 21px 100px -9px #000000;
}

.hero__content {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  vertical-align: middle;
//  margin-bottom: 80px;
  background-color: #f7f7f7;

 .hero__bg {
    height: 100%;
    width: 100%;

   &.hero_has_image {
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     background-attachment: fixed;
     background-color: #464646;
     @extend %shadow;
   }

   &.hero_no_image {
    //to-do
   }

 }

  %white-hero {
  font-size: 103px;
  line-height: 1.373;
  color: $lightest;
  position: relative;
}

  %hero-gradient {
    background-image: linear-gradient(transparent 0%, transparent 45%, rgba(0, 0, 0, 0.5) 45%, rgba(0, 0, 0, 0.5) 92%, transparent 92%, transparent 100%);
    background-size: 100% 100%;
  }

  .hero__content-wrap {
    //position: relative;
    width: 50%;
    height: 1%;
    overflow: visible;
    margin: auto;
    position: absolute;
    top: -24%; left: 0; bottom: 0; right: 0;


    .entry-content {
      p {
        color: $lightest;
        text-align: center;
      }
    }

    .hero__title {

      .title {
        @extend %white-hero;
        @extend %hero-gradient;
      }

      .sub-title {
        @extend %white-hero;
        @extend %hero-gradient;
      }
}

    .hero__meta {
      width: 100%;

      .hero_categories {
        display: inline-block;

        &::after {
          content: " - ";
          color: $lightest;
        }

        a {
          text-decoration: none;
          border-bottom: none;
          color: $lightest;
        }
      }

      .hero_date {
        display: inline-block;
        color: $lightest;
      }

    }
  }

}


.hero_read_more {

  a {
    color: $lightest;
    text-transform: uppercase;
  }

}

/* Down Arrow */

.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  bottom: 5em;
  margin-left:-5em;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
}

a.arrow-wrap {
  border-bottom-color: transparent;
}

.arrow {
  float:left;
  position:relative;
  width: 40px;
  height: 40px;
  box-shadow: 2px 2px white;
  -webkit-transform:rotate(45deg)
}

@-webkit-keyframes arrows {
  0% { top:0; }
  10% { top:12%; }
  20% { top:0; }
  30% { top:12%; }
  40% { top:-12%; }
  50% { top:12%; }
  60% { top:0; }
  70% { top:12%; }
  80% { top:-12%; }
  90% { top:12%; }
  100% { top:0; }
}

.arrow-wrap .arrow {
  -webkit-animation: arrows 2.8s 0.4s;
  -webkit-animation-delay: 3s;
}
