.page {
  .has-thumbnail {
    .hero__content {
      margin-bottom: 40px;
    }
  }
}

    .content-area {
      .site-main {
        nav {
          .nav-links {
            display: block;
            max-width: 600px;
            margin: 0 auto;

            .nav-previous {
              float: left;
              margin-bottom: 40px;
            }

            .nav-next {
              float: right;
              margin-bottom: 40px;
            }
          }
        }
      }
    }